<nav id="sub_nav" class="navbar">
	<ul>

		<li class="about" data-page="About">
			About
		</li>
		<li class="info" data-page="Info">
			Info
		</li>
		<li class="insights" data-page="Insights">
			Insights
		</li>
		<li class="studies" data-page="Studies">
			Studies
		</li>
		<li data-page="Blah" class="blah last">
			Blah
		</li>
	</ul>
</nav>
</div><!--end container ID div -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="scripts/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="scripts/main.js"></script>

</body>
</html>