<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
	<!--<![endif]-->
	<head lang="en">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Static Website Template | <?php echo $title ?> </title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="styles/vendor/normalize.min.css">
		<link rel="stylesheet" href="styles/main.css">

	</head>
	<body>
		<div id="container">
			<header>
				Static Website Template
			</header>
			<nav id="main_nav" class="navbar">
				<ul>
					<li>
						<a href="index.php"> Index </a>
					</li>
					<li>
						<a href="page-2.php"> Page-2 </a>
					</li>
					<li>
						<a href="page-3.php"> Page-3 </a>
					</li>
					<li>
						<a href="page-4.php"> Page-4 </a>
					</li>
					<li>
						<a href="page-5.php"> Page-5 </a>
					</li>
					<li class="last">
						<a href="page-6.php"> Page-6 </a>
					</li>
				</ul>
			</nav>
